/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
  --green-bg: rgb(0, 92, 54, 0.8);
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
  color: white;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-image: url("./food.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;

}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

nav {
  display: flex;
  background-color: var(--green-bg);
  width: 100vw;
  justify-content: center;
  gap: 100px;
}

div#content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  background-color: var(--green-bg);
  width: 50vw;
}

.container {
  border: 10px solid black;
  width: 80%; 
  padding: 30px;                                                                                                                                                                                                                                          ;
}

footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  
  background-color: var(--green-bg);


}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

li {
  list-style-type: none;
}